.nav{
    grid-area: n;
    background-color: lime;
    padding: 20px;
    
    }

    .item a {
       color: rgb(2, 16, 206) ;
       text-decoration: none;
    }

    .item a.activeLink {
       color: rgb(255, 0, 0);
       
       
      
    }

    